
.task-header {
    background-color: #eee;
    padding: 10px 25px;
    margin: -25px -25px 10px;

    mat-checkbox {
        float: left;
        margin-top: 10px;
    }
}

.tags-container {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;

    .tag-container {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        background-color: lightgray;
        padding: 3px 8px;
        font-size: 12px;
        margin: 2px 3px 10px;
        .tag-color {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border-radius: 50%;
            background-color: rgb(244, 67, 54);
        }
        .tags-label {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
        }
    }
}

.task-input-error {
    font-size: 75%;
    margin-top: -15px;
    color: #f44336;
}