
<div class="fab-button-bottom-right">
    <button mat-fab color="primary" (click)="openGrocery()">
        <mat-icon>add</mat-icon>
    </button>
</div>


<!-- ITEMS -->
<mat-grid-list [cols]="gridCols" rowHeight="225px" *ngIf="groceries">
    <mat-grid-tile
        *ngFor="let grocery of groceries"
        colspan="1"
        rowspan="1"
        gutterSize="15px"
    >
        <mat-card class="list-card">
            <div class="card-content-container">
                <mat-card-header>
                    <mat-card-title>
                        <div class="record-status">
                            {{grocery.place | uppercase}}
                        </div>
                        <div class="record-payment" >
                            {{grocery.purpose}}
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="record-purpose">
                        <!-- <mat-list>
                            <mat-list-item *ngFor="let item of grocery.items; let i = index">{{i+1}}. {{item}}</mat-list-item>
                        </mat-list> -->
                        {{grocery.itemDescription}}
                        <!-- <h5>{{grocery.date | date:'dd MMM, yyyy'}}</h5> -->
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="record-footer" *ngIf="grocery.payment">
                        &#x20B9; {{grocery.payment.amount | number}} | {{grocery.payment?.method}}
                        <span style="float: right;">{{grocery.date | date:'dd MMM, yyyy'}}</span>
                    </div>  
                </mat-card-actions>
            </div>
        </mat-card>
        <div class="record-action-button" *ngIf="!grocery.payment">
            <button mat-mini-fab aria-label="Example icon button with a menu icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="Manange grocery item" (click)="manageItem(grocery)">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openGrocery(grocery)"><mat-icon>edit</mat-icon>Edit</button>
                <button mat-menu-item (click)="onDelete(grocery)"><mat-icon>delete</mat-icon>Remove</button>
            </mat-menu>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<!-- EMPTY RECORDS -->
<div class="empty-record-container" *ngIf="groceries && groceries.length == 0">
    <img src="assets/icons/files.svg">
    <h2>No groceries found</h2>
    <h4>Any new grocery will appear here</h4>
</div>


<!-- SPINNER -->
<div class="spinner-container" *ngIf="!groceries">
    <mat-spinner></mat-spinner>
</div>
