
<div class="fab-button-bottom-right">
    <button mat-fab color="primary" (click)="openGrocery()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="search-results"
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="5"
    [infiniteScrollThrottle]="300"
    [infiniteScrollUpDistance]="2"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onUp()" *ngIf="purchases && purchases.length">
    <!-- ITEMS -->
    <mat-grid-list [cols]="gridCols" rowHeight="225px">
        <mat-grid-tile
            *ngFor="let purchase of purchases"
            colspan="1"
            rowspan="1"
            gutterSize="15px"
        >
            <mat-card class="list-card">
                <div class="card-content-container">
                    <mat-card-header>
                        <mat-card-title>
                            <div class="record-status">
                                {{purchase.expenditure?.place | uppercase}}
                            </div>
                            <div class="record-payment" >
                                {{purchase.expenditure?.purpose}}
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div [ngClass]="purchase.expenditure.payment ? 'record-purpose-with-payment' : 'record-purpose-without-payment'">
                            <!-- <mat-list>
                                <mat-list-item *ngFor="let item of purchase.items; let i = index">{{i+1}}. {{item}}</mat-list-item>
                            </mat-list> -->
                            {{purchase.itemDescription}}
                            <!-- <h5>{{purchase.date | date:'dd MMM, yyyy'}}</h5> -->
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="record-footer" *ngIf="purchase.expenditure.payment">
                            &#x20B9; {{purchase.expenditure.payment.amount | number}} | {{purchase.expenditure.payment?.method}}
                            <span style="float: right;">{{purchase.date | date:'dd MMM, yyyy'}}</span>
                        </div>  
                    </mat-card-actions>
                </div>
            </mat-card>
            <div class="record-action-button" *ngIf="!purchase.payment">
                <button mat-mini-fab aria-label="Example icon button with a menu icon" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="Manange purchase item" (click)="manageItem(purchase)">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openDetail(purchase)"><mat-icon>details</mat-icon>Detail</button>
                    <button mat-menu-item (click)="openGrocery(purchase)"><mat-icon>edit</mat-icon>Edit</button>
                    <button mat-menu-item (click)="onDelete(purchase)"><mat-icon>delete</mat-icon>Remove</button>
                    <button mat-menu-item (click)="onShare(purchase)"><mat-icon>share</mat-icon>Share</button>
                    <button mat-menu-item (click)="onCopy(purchase)"><mat-icon>content_copy</mat-icon>Copy</button>
                </mat-menu>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- EMPTY RECORDS -->
<div class="empty-record-container" *ngIf="purchases && purchases.length == 0">
    <img src="assets/icons/files.svg">
    <h2>No purchases found</h2>
    <h4>Any new purchase will appear here</h4>
</div>


<!-- SPINNER -->
<div class="spinner-container" *ngIf="!purchases">
    <mat-spinner></mat-spinner>
</div>
