.login-form {
    width: 100%;
}

.login-form-field {
    width: 100%;
}

.mat-card-header-text {
    display: none !important;
}

.signup-page-container {
    display: flex;
    justify-content: center;
    .signup-card {
        @media screen and (max-width: 640px){
            margin: 10% 16px 0;
        }
        @media screen and (min-width: 641px){
            margin-top: 5%;
        }
        img {
            border-radius: 50%;
        }
    }
}