
<!-- ADD NEW RECORD -->
<div class="fab-button-bottom-right">
    <button mat-fab color="primary" (click)="openTimesheet()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- ITEMS -->
<!-- <mat-grid-list [cols]="gridCols" rowHeight="200px" *ngIf="timesheets">
    <mat-grid-tile
        *ngFor="let timesheet of timesheets"
        colspan="1"
        rowspan="1"
        gutterSize="15px"
    >
        <mat-card class="timesheet-list-card">
            <div class="card-content-container">
                <mat-card-header>
                    <mat-card-title>
                        <div class="record-status" [ngClass]="{'timesheet-is-done' : timesheet.isDone}">
                            {{timesheet.date | date:'dd MMM, yyyy'}}
                        </div>
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="openTimesheet(timesheet)"><mat-icon>edit</mat-icon>Edit</button>
                            <button mat-menu-item (click)="onDelete(timesheet)"><mat-icon>delete</mat-icon>Remove</button>

                            <button mat-menu-item (click)="editTimesheet(timesheet, 'isStarred')" >
                                <mat-icon *ngIf="!timesheet.isStarred">star_outline</mat-icon>
                                <mat-icon *ngIf="timesheet.isStarred" color="accent">star</mat-icon>
                                {{timesheet.isStarred ? 'Remove star' : 'Add star'}}
                            </button>
                            <button mat-menu-item (click)="editTimesheet(timesheet, 'isImportant')" >
                                <mat-icon *ngIf="!timesheet.isImportant">error_outline</mat-icon>
                                <mat-icon *ngIf="timesheet.isImportant" color="warn">error</mat-icon>
                                {{timesheet.isImportant ? 'Remove important' : 'Add important'}}
                            </button>
                            <button mat-menu-item (click)="editTimesheet(timesheet, 'isDone')">
                                <mat-icon *ngIf="timesheet.isDone">check_box</mat-icon>
                                <mat-icon *ngIf="!timesheet.isDone">check_box_outline_blank</mat-icon>
                                {{timesheet.isDone ? 'Mark as undone' : 'Mark as done'}}
                            </button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="record-purpose" [ngClass]="{'timesheet-is-done' : timesheet.isDone}">
                        {{timesheet.description}}
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary">DETAIL</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->



<!-- EMPTY RECORDS -->
<div class="empty-record-container" *ngIf="timesheets && timesheets.length == 0">
    <img src="assets/icons/files.svg">
    <h2>No timesheets found here</h2>
    <h4>Any new timesheet will appear here</h4>
</div>


<!-- SPINNER -->
<div class="spinner-container" *ngIf="!timesheets">
    <mat-spinner></mat-spinner>
</div>


<div class="timesheet" *ngFor="let timesheet of timesheets">

    <!-- TIMESHEET BRIEF CARD -->
    <mat-card class="timesheet-brief" (click)="timesheet.showDetail=!timesheet.showDetail" *ngIf="!timesheet.showDetail">
        <mat-card-header>
            <div class="timesheet-brief-header">{{timesheet.date | date:'dd MMM, yyyy'}}</div>
            <div class="timesheet-brief-time-consumed" *ngIf="timesheet.time && (timesheet.time.hours || timesheet.time.minutes)">
                {{timesheet.time.days}} Days, {{timesheet.time.hours}} Hours, {{timesheet.time.minutes}} Minutes
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="timesheet-brief-description">
                {{timesheet.description}}
            </div>
            <button mat-mini-fab class="fab-action-button" (click)="timesheet.showDetail=!timesheet.showDetail">
                <mat-icon>expand_more</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>

    <!-- TIMESHEET DETAIL CARD -->
    <mat-card class="timesheet-detail" *ngIf="timesheet.showDetail">
        <mat-card-header>
            <div class="timesheet-brief-header">{{timesheet.date | date:'dd MMM, yyyy'}}</div>
            <div class="timesheet-brief-time-consumed" 
                *ngIf="timesheet.time && (timesheet.time.hours || timesheet.time.minutes)">
                {{timesheet.time.days}} Days, {{timesheet.time.hours}} Hours, {{timesheet.time.minutes}} Minutes
            </div>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" >
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openTimesheet(timesheet)"><mat-icon>edit</mat-icon>Edit</button>
                <button mat-menu-item (click)="onDelete(timesheet)"><mat-icon>delete</mat-icon>Remove</button>
            </mat-menu> -->
        </mat-card-header>
        <mat-card-content>
            <div class="timesheet-detail-description">
                {{timesheet.description}}
            </div>
            <div class="tasks-list-seperator">
                TASKS
                <button mat-mini-fab class="fab-action-button" (click)="timesheet.showDetail=!timesheet.showDetail">
                    <mat-icon>expand_less</mat-icon>
                </button>
            </div>
            <mat-card class="task-list-card" *ngFor="let task of timesheet.tasks">
                <mat-card-header>
                    <mat-card-title>
                        <div class="task-date" *ngIf="task.schedule && task.schedule.startDate">{{task.schedule?.startDate|date}}</div>
                        <div class="task-time-consumed" 
                            *ngIf="task.time && (task.time.hours || task.time.minutes)">
                            {{task.time.days}} Days, {{task.time.hours}} Hours, {{task.time.minutes}} Minutes
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="record-status" [ngClass]="{'task-is-done' : task.isDone}">
                        {{task.title | uppercase}}
                    </div>
                    <div class="record-purpose" [ngClass]="{'task-is-done' : task.isDone}">
                        {{task.notes}}
                    </div>
                    <div class="tags-container">
                        <div *ngFor="let label of task.labels">
                            <div class="tag-container" *ngIf="label.isChecked">
                                <div class="tag-color" [ngStyle]="{ backgroundColor: label.color }"></div>
                                <div class="tag-label">{{label.name}}</div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="timesheet-actions">
                <!-- <button mat-flat-button color="accent" (click)="timesheet.showDetail=!timesheet.showDetail">HIDE</button>
                <button mat-flat-button color="primary" (click)="openTimesheet(timesheet)">EDIT</button>
                <button mat-flat-button color="warn" (click)="onDelete(timesheet)">DELETE</button> -->
                <button mat-mini-fab color="primary" (click)="openTimesheet(timesheet)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="onDelete(timesheet)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>