@mixin task-list-panel($color) {
    font-weight: bold;
    padding: 10px;
    background-color: $color;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin-bottom: 5px;
}

.task-container-outer {
    font-family: 'Open Sans Condensed', sans-serif;
    mat-label {
        display: block;
        @include task-list-panel(#fefefe);
    }

    .add-task-alert {
        @include task-list-panel(salmon);
    }

    .record-status {
        padding-top: 5px;
        max-width: 250px;
    }
}