<!-- Heading -->
<h2 class="mat-h2">{{data.timesheet && data.timesheet._id ? 'Update Timesheet' : 'Add Timesheet'}}</h2>

<!-- Form -->
<form [formGroup]="timesheetForm" (ngSubmit)="onSubmit(timesheetForm)">
    <mat-dialog-content>
        <div class="timesheet-form">
            <mat-form-field>
                <mat-label for="date">Date</mat-label>
                <input matInput type="date" formControlName="date" [max]="today">
                <mat-error *ngIf="timesheetForm.get('date').invalid && timesheetForm.get('date').touched">
                    Date is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="description">Description</mat-label>
                <textarea matInput formControlName="description" ></textarea>
                <mat-error *ngIf="timesheetForm.get('description').invalid && timesheetForm.get('description').touched">
                    Description is required
                </mat-error>
            </mat-form-field>

            <div class="task-container-outer">
                <div for="task" *ngIf="timesheetControl && timesheetControl.length" class="items-header">
                    TASKS
                </div>
                <mat-card class="task-list-card" *ngFor="let taskCtrl of timesheetControl; let i = index;">
                    <div class="card-content-container">
                        <mat-card-header>
                            <mat-card-title>
                                <!-- [ngClass]="{'task-is-done' : timesheetControl[i].value.isDone}" -->
                                <div class="record-status" >
                                    {{timesheetControl[i].value.title | uppercase}}
                                </div>
                                <button mat-icon-button class="more-button" (click)="removeTask(i)" aria-label="Delete record" color="warn">
                                    <mat-icon title="Remove task">remove_circle_outline</mat-icon>
                                </button>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <!-- [ngClass]="{'task-is-done' : timesheetControl[i].value.isDone}" -->
                            <div class="record-purpose" >
                                {{taskCtrl.value.notes}}
                            </div>
                            <div class="tags-container">
                                <span class="task-date" *ngIf="timesheetControl[i].value.schedule && timesheetControl[i].value.schedule.startDate">
                                    {{timesheetControl[i].value.schedule?.startDate|date}}
                                </span>
                                <div class="tag-container" 
                                    *ngIf="timesheetControl[i].value.time && (timesheetControl[i].value.time.hours || timesheetControl[i].value.time.minutes)">
                                    {{timesheetControl[i].value.time.days}} Days, {{timesheetControl[i].value.time.hours}} Hours, {{timesheetControl[i].value.time.minutes}} Minutes
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>

                <div class="add-task-alert" *ngIf="timesheetControl && timesheetControl.length==0">
                    Add tasks in timesheet list
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="add-task-btn" mat-raised-button type="button" color="accent" aria-label="Add task"
            (click)="onAddTask()" >
            Add Task
        </button>
        <button mat-raised-button type="button" (click)="onClose()" [disabled]="loading" style="float: right;">Close</button>
        <button mat-raised-button type="submit" color="primary" style="float: right"
            [disabled]="loading || timesheetForm.invalid">{{loading ? 'Please wait..' : id ? 'Update' : 'Submit'}}</button>
    </mat-dialog-actions>
</form>