<div class="fab-button-bottom-right">
    <button mat-fab color="primary" routerLink="returning">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- ITEMS -->
<mat-grid-list [cols]="gridCols" rowHeight="225px" *ngIf="returnings && returnings.length !== 0">
    <mat-grid-tile
        *ngFor="let returning of returnings"
        colspan="1"
        rowspan="1"
        gutterSize="15px"
    >
        <mat-card class="returning-card thecard" [ngClass]="returning.type=='Borrowed' ? 'warn' : 'primary'">
            <div class="card-content-container thefront">
                <div class="amount-summary">
                    <h1>&#x20B9; {{returning.amount | number}}</h1>
                    <div class="returning-type">
                        {{returning.type}}
                    </div>
                </div>
                <div class="returning-brief">
                    <mat-card-header>
                        <mat-card-title>
                            <button mat-flat-button [color]="returning.type=='Borrowed' ? 'warn' : 'primary'" class="returning-status">
                                {{returning.person}}
                            </button>    
                            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item (click)="onEdit(returning)"><mat-icon>edit</mat-icon>Edit</button>
                                <button mat-menu-item (click)="onDelete(returning)"><mat-icon>delete</mat-icon>Remove</button>
                            </mat-menu> -->
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="returning-purpose">
                            {{returning.purpose}}
                        </div>
                        <div class="returning-actions">
                            <div class="returning-actions-block">
                                DUE<br>
                                {{returning.expectedReturnDate | date}}
                            </div>
                            <div class="returning-actions-block" style="border-left: 0.5px solid #9E9E9E; border-right: 0.5px solid #9E9E9E;">
                                REQUEST <br>
                                4
                            </div>
                            <div class="returning-actions-block">
                                INTEREST<br>
                                &#x20B9; 120.00
                            </div>
                        </div>
                    </mat-card-content>
                </div>
            </div>

            <div class="card-content-container theback">
                <div class="amount-summary">
                    <h1>&#x20B9; {{returning.amount | number}}</h1>
                    <div class="returning-type">
                        {{returning.type}}
                    </div>
                </div>
                <div class="returning-brief">
                    <mat-card-header>
                        <mat-card-title>
                            <button mat-flat-button [color]="returning.type=='Borrowed' ? 'warn' : 'primary'" class="returning-status">
                                {{returning.person}}
                            </button>
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item (click)="onEdit(returning)"><mat-icon>edit</mat-icon>Edit</button>
                                <button mat-menu-item (click)="onDelete(returning)"><mat-icon>delete</mat-icon>Remove</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <div class="returning-dates">
                            <mat-icon>calendar_today</mat-icon> {{returning.type}}: <b>{{returning.expectedReturnDate | date }}</b> <br> 
                            <mat-icon>calendar_today</mat-icon> Expected Return: <b>{{returning.date | date }}</b>
                        </div>
                        <div class="returning-actions">
                            <!-- <a href="sms://+919482153795?body=I%27m%20interested%20in%20your%20product.%20Please%20contact%20me."><mat-icon>message</mat-icon> TEXT</a> -->

                            <a href="tel://+919482153795"><mat-icon>phone</mat-icon></a>
                            <a [href]="returning.smsUrl"><mat-icon>message</mat-icon></a>
                            <a [href]="returning.whatsAppUrl"><img src="https://img.icons8.com/ios/24/000000/whatsapp.png"/></a>
                                
                            <!-- <div class="returning-actions-block">
                                <a href="tel://+919482153795"><mat-icon>phone</mat-icon></a>
                            </div>
                            <div class="returning-actions-block" style="border-left: 0.5px solid #9E9E9E; border-right: 0.5px solid #9E9E9E;">
                                <a href="sms://+919482153795?body=I%27m%20interested%20in%20your%20product.%20Please%20contact%20me."><mat-icon>message</mat-icon></a>
                            </div>
                            <div class="returning-actions-block">
                                <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!">
                                    <img src="https://img.icons8.com/ios/24/000000/whatsapp.png"/>
                                </a>
                            </div> -->
                        </div>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<!-- EMPTY RECORDS -->
<div class="empty-record-container" *ngIf="returnings && returnings.length == 0">
    <img src="assets/icons/files.svg">
    <h2>No returnings found</h2>
    <h4>Any new returning will appear here</h4>
</div>


<!-- SPINNER -->
<div class="spinner-container" *ngIf="!returnings">
    <mat-spinner></mat-spinner>
</div>