
.returning-card {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;

    .mat-card-header-text {
        margin: 0 !important;
    }

    .returning-status {
        // display: block;
        border-radius: 0px;
        margin-left: -16px;
        // max-width: 195px;
        max-width: 170px;

        overflow: hidden;
        position: relative;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    mat-card-actions {
        bottom: 0;
        margin-bottom: 0px;
        position: absolute;
    }

    .more-button {
        position: absolute;
        top: 5px;
        right: 0px;
    }

    mat-card-actions {
        button {
            border-radius: 0px;
        }
    }
}

.mat-card-header-text {
    margin: 0 !important;
}

.primary {
    border-left: 7px solid #673ab7;
}

.warn {
    border-left: 7px solid #f44336;
}

.card-content-container {
    display: flex;
    height: 100%;
    .amount-summary {
        text-align: right;
        // font-family: 'Open Sans Condensed', sans-serif;
        padding-right: 10px;
        flex: 30%;
        border-right: 1px dotted black;
        margin-bottom: 0;

        .returning-type {
            text-align: right;
            position: absolute;
            font-family: inherit;
            text-transform: capitalize;
            font-size: 24px;
            color: #9E9E9E;
            bottom: 0;
            padding: 10px 0px;
            width: 25%;
        }
    }
    .returning-brief {
        padding-left: 15px;
        flex: 70%;
        .returning-purpose {
            height: 50px;
            padding-bottom: 15px;
            // border-bottom: 0.5px solid #9E9E9E;

            // Below solution manage the multiline text wrap with ellipses on paragraph
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 21px;
        }
        .returning-actions {
            height: 50px;
            display: inline-flex;
            position: absolute;
            bottom: 20px;
            width: 58%;
            .returning-actions-block {
                padding: 5px;
                border-top: 0.5px solid #9E9E9E;
                // font-family: 'Open Sans Condensed', sans-serif;
                text-transform: capitalize;
                width: 33%;
                text-align: center;
            }
        }
    }
}



/* CARD FLIP ANIMATION STYLES */
/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer {
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard {
    /* position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; */
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard:hover {
    transform: rotateX(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; */
    backface-visibility: hidden;
    overflow: hidden;
    // background: #ffc728;
    // color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    // color: #333;
    text-align: center;
    transform: rotateX(180deg);
    .returning-actions {
        display: flex !important;
        bottom: 10px;
        a {
            // display: inline-flex;
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            // font-family: 'Open Sans Condensed', sans-serif;
            border: 0.5px solid #9E9E9E;
            margin-right: 10px;
            width: inherit;
            color: #fff;
            background-color: #9E9E9E;
        }
    }

    mat-card-header {
        margin-top: 16px;
        .mat-card-header-text {
            margin-top: 16px;
        }
        mat-card-title {
            .mat-button-wrapper {
                // font-family: 'Open Sans Condensed', sans-serif;
            }
        }
    }

    .returning-dates {
        padding: 15px 0;
        text-align: left;
        font-size: 18px;
        // font-family: 'Open Sans Condensed', sans-serif;
    }
    
  }

  .theback:left {
    transform: rotateX(-180deg);
  }
  /*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */