
.task-header {
    display: flex;
    .mat-form-field-infix {
        padding: 0px 5px 10px;
    }
    input {
        padding: 8px;
        border: 1px solid #777;
        margin-right: 10px;
        width: 80%;
    }
    input:active {
        border: 1px solid #777;
    }
}