<mat-card class="list-card" *ngIf="!loading">
    <div class="card-content-container">
        <mat-card-header>
            <mat-card-title>
                <div class="record-status">
                    {{purchase.expenditure?.place | uppercase}}
                </div>
                <div class="record-payment" >
                    {{purchase.expenditure?.purpose}}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h3>{{purchase.expenditure?.purpose | uppercase}} ITEMS ({{purchase.items.length}})</h3>
            <mat-list>
                <mat-list-item *ngFor="let item of purchase.items; let i = index">{{i+1}}. {{item.name}} ({{item.quantity}})</mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <div class="record-footer">
                <button mat-raised-button type="button" color="light" aria-label="Add item" (click)="onEdit()"style="float: right;">
                    Edit <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button type="button" color="accent" aria-label="Browse" style="float: right;"
                    (click)="onBrowse()">
                    Start Shopping  <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </div>
</mat-card>

<!-- EMPTY RECORDS -->
<div class="empty-record-container" *ngIf="!purchase && !loading">
    <img src="assets/icons/files.svg">
    <h2>No purchases found</h2>
    <h4>Any new purchase will appear here</h4>
</div>


<!-- SPINNER -->
<div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>