// Mixin used to handle text in card body. Handle longer text by showing ... at end
@mixin responsive-card-content {
    overflow-y: auto;
    padding: 10px 16px;
    // Below solution manage the multiline text wrap with ellipses on paragraph
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
}

.list-card {
    // position: absolute;
    // top: 5px;
    // left: 5px;
    // right: 5px;
    // bottom: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    .mat-card-header-text {
        margin: 0 !important;
    }

    .more-button {
        position: absolute;
        top: 15px;
        right: 10px;
    }

    mat-card-actions {
        bottom: 0;
        margin-bottom: 0px;
        position: absolute;
        button {
            border-radius: 0px;
        }
    }

    .card-content-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: #D1C4E9;

        mat-card-header {
            background-color: #B39DDB;
            color: #fefefe;
            .record-status {
                display: block;
                padding-top: 10px;
                border-radius: 0px;
                // margin-left: -16px;
                // max-width: 195px;
                max-width: 275px;
                overflow: hidden;
                position: relative;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: bold;
            }
        }

        .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
            font-family: 'Open Sans Condensed', sans-serif;
            display: block;
            height: 30px;
            -webkit-tap-highlight-color: transparent;
            width: 100%;
            padding: 0;
            // color: #9575CD;
            color: #7E57C2;
            font-weight: bold;
        }

        .record-payment {
            // float: right;
            margin-right: 30px;
            background-color: #7E57C2;
            margin-top: -35px;
            padding: 5px 10px;
            right: 0;
            position: absolute;
        }

        mat-card-actions {
            display: contents;
            .record-footer {
                // position: absolute;
                // bottom: 0;
                padding: 16px;
                // margin-bottom: 10px;
                background-color: #7E57C2;
                color: cornsilk;
            }
        }

        mat-card-content {
            font-family: 'Open Sans Condensed', sans-serif;
            h3 {
                padding: 16px 16px 0;
                font-family: inherit;
                margin-bottom: 0px;
            }
            li {
                font-family: inherit;
            }
        }
    }
}