
<!-- <div class="fab-button-top-right">
    <button mat-mini-fab color="primary" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div> -->

<form [formGroup]="groceryForm" (ngSubmit)="onSubmit(groceryForm)">
    <mat-dialog-content>
        <div class="grocery-form">
            <mat-form-field>
                <mat-label for="date">Date</mat-label>
                <input matInput type="date" formControlName="date" [min]="today">
                <mat-error *ngIf="groceryForm.get('date').invalid && groceryForm.get('date').touched">Date is required
                </mat-error>
            </mat-form-field>

            <mat-form-field hidden>
                <mat-label for="purpose">Purpose</mat-label>
                <mat-select name="purpose" formControlName="purpose">
                    <mat-option *ngFor="let type of _moneyService.purposeTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="groceryForm.get('purpose').invalid && groceryForm.get('purpose').touched">Purpose is
                    required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="place">Place</mat-label>
                <input matInput type="text" formControlName="place" name="place">
                <mat-error *ngIf="groceryForm.get('place').invalid && groceryForm.get('place').touched">Place is
                    required</mat-error>
            </mat-form-field>

            <div class="items-header">
                <mat-label for="item">ITEMS ({{groceryControl.length}})</mat-label>
                <!-- <button mat-raised-button type="button" color="primary" aria-label="Add item" (click)="onAddItem()" *ngIf="!data.isPaid" style="float: right;">
                    ADD ITEM <mat-icon>add</mat-icon>
                </button> -->
            </div>
            <div class="item-container grocery-items" *ngFor="let itemCtrl of groceryControl; let i = index;" [ngClass]="{'grocery-items-is-paid':data.isPaid}">
                <div class="item-container-input">
                    <input class="item-container-input-name" type="text" [name]="i" [formControl]="groceryControl[i]" [isautofocused]="autofocused[i]">
                    <button mat-mini-fab type="button" color="warn" aria-label="Remove" (click)="removeItem(itemCtrl)"
                        *ngIf="!data.isPaid">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <input type="text" class="item-container-input-quantity" [value]="itemQuantities[i]" name="itemQuantity" (change)="onQuantityChange($event, i)">
                    <button mat-mini-fab type="button" color="primary" aria-label="Remove" (click)="addItem(itemCtrl)"
                        *ngIf="!data.isPaid">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="item-container-error">
                    <mat-error *ngIf="groceryControl[i].invalid && groceryControl[i].touched">
                        Item is required
                    </mat-error>
                </div>
            </div>
            <div class="add-item-alert" *ngIf="groceryControl && groceryControl.length==0">Add items
                in grocery list
            </div>

            <div formGroupName="payment" *ngIf="data.isPaid">
                <hr>
                <mat-form-field>
                    <mat-label for="amount">Amount</mat-label>
                    <input matInput type="number" formControlName="amount">
                    <mat-error
                        *ngIf="groceryForm.get('payment.amount').invalid && groceryForm.get('payment.amount').touched">
                        Please enter valid payment amount</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="status">Status</mat-label>
                    <mat-select name="status" formControlName="status">
                        <mat-option value="Paid">Paid</mat-option>
                        <mat-option value="Unpaid">Unpaid</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="groceryForm.get('payment.status').invalid && groceryForm.get('payment.status').touched">
                        Please select payment status</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="method">Method</mat-label>
                    <mat-select name="method" formControlName="method">
                        <mat-option *ngFor="let meth of _moneyService.paymentMethods" [value]="meth">{{meth}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="groceryForm.get('payment.method').invalid && groceryForm.get('payment.method').touched">
                        Please select payment method</mat-error>
                </mat-form-field>
            </div>
            <!-- <br>
            <div align="right" class="form-action">
                <button class="add-item-btn" mat-raised-button type="button" color="accent" aria-label="Add item field"
                    (click)="onAddItem()" *ngIf="!data.isPaid">
                    Add Item
                </button>
                <button mat-raised-button type="button" (click)="onClose()" [disabled]="loading">Close</button>
                <button mat-raised-button type="submit" color="primary"
                    [disabled]="loading || groceryForm.invalid">{{loading ? 'Please wait..' : 'Submit'}}</button>
            </div> -->
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
        <button mat-raised-button type="button" color="primary" aria-label="Add item" (click)="onAddItem()" *ngIf="!data.isPaid" style="float: right;">
            ADD ITEM <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button type="button" color="accent" aria-label="Browse" style="float: right;"
            (click)="onBrowse()" *ngIf="!data.isPaid">
            Browse  <mat-icon>search</mat-icon>
        </button>
        <button mat-raised-button type="button" (click)="onClose()" [disabled]="loading" style="float: right;">
            Close <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button type="submit" color="primary" style="float: right"
            [disabled]="loading || groceryForm.invalid">
            {{loading ? 'Please wait..' : 'Submit'}} <mat-icon *ngIf="!loading">save</mat-icon><mat-icon *ngIf="loading">hourglass_top</mat-icon>
        </button>
    </mat-dialog-actions>
</form>