.grocery-form {
    width: 100%;
    mat-form-field {
        width: 100%;
    }
    button {
        margin-left: 10px;
    }
}

.item-container {
    box-sizing: border-box;
    margin: 10px auto;
    @mixin item-container-input {
        padding: 10px;
        display: table-row;
        border: 2px solid #D1C4E9;
    }
    &-input {
        display: flex;
        &-name {
            @include item-container-input;
            width: calc(100vh-150px);
            &:focus {
                border: 2px solid #B39DDB;
            }
        }
        &-quantity {
            @include item-container-input;
            width: 50px !important;
            margin-left: 10px;
            &:focus {
                border: 2px solid #B39DDB;
            }
        }
        button {
            position: relative;
            &:first-child {
                margin-right: 15px;
            }
        }
    }
    &-error {
        display: flex;
    }
}

.add-item-btn {
    position: relative;
    float: left;
    // margin-left: 0px !important;
}

.add-item-alert {
    padding: 16px;
    // font-family: 'Open Sans Condensed', sans-serif;
    border: 1px solid #EDE7F6;
    background-color: #B39DDB;
    margin: 15px auto;
    font-weight: bold;
}

.form-action {
    position: absolute;
    bottom: 0;
}

.grocery-items {
    input {
        width: 83%;
        box-sizing: border-box;
    }
    &-is-paid {
        input {
            width: 100%;
        }
    }
}

.fab-button-top-right {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

.items-header {
    // font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 15px;
    background-color: #D1C4E9;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 5px;
    button {
        float: right;
        margin-top: -8px;
        margin-right: -13px;
    }
}

mat-dialog-actions {
    button {
        margin: 0 10px 10px 0;
    }
    .mat-button-base {
        margin-left: 0px;
    }
}

.item-container-input-name, .item-container-input-quantity {
    border-radius: 5px;
}
