.login-form {
    // min-width: 400px;
    // max-width: 500px;
    width: 100%;
}

.login-form-field {
    width: 100%;
}

.mat-card-header-text {
    display: none !important;
}

/* .login-form-container {
    margin: 15px;
    // padding: 15px;
} */

/* .mat-figure {
    padding: 15px;
}

.login-page {
    padding: 15px;
} */

.login-page-container {
    display: flex;
    justify-content: center;
    .login-card {
        @media screen and (max-width: 640px){
            margin: 10% 16px 0;
        }
        @media screen and (min-width: 641px){
            margin-top: 5%;
        }
        img {
            border-radius: 50%;
        }
    }
}