.login-form {
    // min-width: 400px;
    // max-width: 500px;
    width: 100%;
}

.login-form-field {
    width: 100%;
}

.mat-card-header-text {
    display: none !important;
}

.login-form-container {
    margin: 15px;
    // padding: 15px;
}

.mat-figure {
    padding: 15px;
}

.login-page {
    padding: 15px;
}