
<mat-grid-list cols="3" rowHeight="400px">
    <!-- <mat-grid-tile [colspan]="dimentions.cols" [rowspan]="dimentions.rows"></mat-grid-tile> -->
    <mat-grid-tile [colspan]="dimentions.cols" [rowspan]="dimentions.rows" class="login-form-container">
        <mat-card>
            <mat-card-content>
                <div align="center">
                    <img src="assets/brand/task-manager.png" width="100" height="100" style="margin: 10px auto;">
                </div>
                <form class="login-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                    
                    <mat-form-field class="login-form-field">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" name="username" ngModel #username="ngModel" required>
                        <mat-error *ngIf="username.invalid && username.touched">Username required!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="login-form-field">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="password" ngModel #password="ngModel" required>
                        <mat-error *ngIf="password.invalid && password.touched">Password required!</mat-error>
                    </mat-form-field>
                    <div class="login-form-field">
                        <br>
                        <button mat-raised-button type="submit" color="primary" class="login-form-field">Login</button>
                    </div>
                    <div class="login-form-field" align="center">
                        <hr>
                        <a routerLink="/signup"><b>CREATE AN ACCOUNT</b></a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="dimentions.cols" [rowspan]="dimentions.rows"></mat-grid-tile> -->
</mat-grid-list>

