/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fab-button-bottom-right {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

.mat-snack-bar-container {
    max-width: 100% !important;
    height: auto;
    word-wrap: break-word;
}