/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fab-button-bottom-right {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

.mat-snack-bar-container {
    max-width: 100% !important;
    height: auto;
    word-wrap: break-word;
}

.spinner-container {
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-record-container {
    // height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    img {
        width: 75px;
        height: auto;
    }
    h4 {margin: 0;}
}

form {
    width: 100%;
    mat-form-field {
        width: 100%;
    }
    button {
        margin-left: 10px;
    }
}

// Below solution manage the multiline text wrap with ellipses on paragraph
@mixin four-lines-paragraph {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
    padding: 8px 16px 10px;
}

.custom-btn, .mat-stroked-button {
    margin: 5px auto !important;
    width: 95%;
}

.google-login-btn {
    width: 95%;
    border: 1px solid #eee !important;
    color: #777;
}

.facebook-login-btn {
    width: 95%;
    // border: ;
    color: #fff;
    background-color: #3b5998;
}

.navbar-button {
    position: absolute;
    right: 15px;
}

.record-purpose {
    height: 50px;
    padding-bottom: 15px;
    // border-bottom: 0.5px solid #9E9E9E;

    // Below solution manage the multiline text wrap with ellipses on paragraph
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
}