<mat-sidenav-container class="sidenav-container" *ngIf="_authService.user">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) || (isTablet$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) || (isTablet$ | async)  ? 'over' : 'side'" [opened]="((isHandset$ | async) || (isTablet$ | async)) === false">
		<mat-toolbar class="user-info-toolbar">
			<div class="user-info">
				<div class="profile-picture">
					<img [src]="_authService.user.user.photo || '../../../assets/profile/profile.jpg'" alt="Profile picture of user">
				</div>
				<div *ngIf="_authService.user.user; else buttonTemplate">{{_authService.user.user.name}}</div>
				<ng-template #buttonTemplate>
					<a routerLink="profile">
						<button mat-button class="edit-profile-button" (click)="(isHandset || isTablet) && drawer.toggle()" >Edit Profile</button>
					</a>
				</ng-template>
			</div>
			<!-- Menu -->
		</mat-toolbar>
		<mat-nav-list>

			<!-- FEATURES -->
			<a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">home</mat-icon> <span class="label">Home</span>
			</a>
			<a mat-list-item routerLink="money/returnings" [state]="{title: 'Returnings'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">payment</mat-icon><span class="label">Returnings</span>
			</a>
			<a mat-list-item routerLink="money/expenditures"  [state]="{title: 'Expenditure'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">insert_chart</mat-icon> <span class="label">Expenditure</span>
			</a>
			<a mat-list-item routerLink="reminders"  [state]="{title: 'Reminders'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">alarm</mat-icon> <span class="label">Reminders</span>
			</a>
			<a mat-list-item routerLink="tasks"  [state]="{title: 'Tasks'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">event_note</mat-icon> <span class="label">Tasks</span>
			</a>
			<a mat-list-item routerLink="groceries"  [state]="{title: 'Grocery'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">add_shopping_cart</mat-icon> <span class="label">Grocery</span>
			</a>
			<a mat-list-item routerLink="learnings"  [state]="{title: 'Learnings'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">psychology</mat-icon> <span class="label">Learnings</span>
			</a>
			<a mat-list-item routerLink="timesheets"  [state]="{title: 'Timesheets'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">check_box</mat-icon> <span class="label">Timesheets</span>
			</a>

			<!-- PROFILE & SETTINGS -->
			<span class="header-spacer"></span>
			<hr>
			<a mat-list-item routerLink="profile" [state]="{title: 'Profile'}" routerLinkActive="active" (click)="(isHandset || isTablet) && drawer.toggle()">
				<mat-icon class="icon">person</mat-icon> <span class="label">Profile</span>
			</a>
			<a mat-list-item (click)="(isHandset || isTablet) && drawer.toggle(); _authService.logout()" routerLink="login"
				type="button">
				<mat-icon class="icon">login</mat-icon><span class="label">Logout</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content style="background-color: #ebebeb;">
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="(isHandset$ | async) || (isTablet$ | async) ">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>{{pageTitle}}</span>
			<div class="navbar-button">
				<button mat-icon-button (click)="onNavbarButtonClick('filter')">
					<mat-icon>filter_list_alt</mat-icon>
				</button>
				<button mat-icon-button (click)="onNavbarButtonClick('sort')">
					<mat-icon>sort</mat-icon>
				</button>
				<button mat-icon-button (click)="onNavbarButtonClick('search')">
					<mat-icon>search</mat-icon>
				</button>
			</div>
		</mat-toolbar>
		<!-- Add Content Here -->
		<div style="padding:10px; background-color: #ebebeb;"><router-outlet></router-outlet></div>
	</mat-sidenav-content>
</mat-sidenav-container>